:root {
    --gray: rgba(231, 231, 227, 1);
}

.contact-us {
    background-color: #e2edc2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contact-us .div {
    background-color: #e2edc2;
    height: 1525px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.contact-us .vector {
    height: 467px;
    left: 1574px;
    position: absolute;
    top: -1447px;
    width: 694px;
    background-color: transparent;
}

.contact-us .text-wrapper {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 435px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
    white-space: nowrap;
    width: 86px;
    background-color: transparent;
}

.contact-us .text-wrapper-2 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1004px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
    white-space: nowrap;
    width: 145px;
    background-color: transparent;
}

.contact-us .text-wrapper-3 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 249px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
    white-space: nowrap;
    background-color: transparent;
    width: 107px;
}

.contact-us .text-wrapper-4 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
    white-space: nowrap;
    background-color: transparent;
    width: 68px;
}

.contact-us .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 60px;
    position: absolute;
    top: 1249px;
    background-color: transparent;
}

.contact-us .frame-2 {
    background-color: #5d9127;
    border-radius: 48px;
    height: 591px;
    overflow: hidden;
    position: relative;
    width: 1320px;
    background-color: transparent;
}

.contact-us .logo-instance {
    left: 689px !important;
    top: -4077px !important;
}

.contact-us .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    left: 110px;
    position: absolute;
    top: 89px;
    background-color: transparent;
}

.contact-us .text-wrapper-5 {
    color: #c7e76a;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    background-color: transparent;
}

.contact-us .p {
    color: var(--gray);
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 446px;
}

.contact-us .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    gap: 76px;
    left: 638px;
    position: absolute;
    top: 89px;
}

.contact-us .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.contact-us .text-wrapper-6 {
    color: #c7e76a;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.contact-us .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.contact-us .text-wrapper-7 {
    color: var(--gray);
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.contact-us .text-wrapper-8 {
    color: var(--gray);
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.contact-us .img {
    flex: 0 0 auto;
    position: relative;
}

.contact-us .vector-2 {
    height: 30px;
    left: 1299px;
    position: absolute;
    top: 97px;
    width: 29px;
}

.contact-us .vector-3 {
    height: 29px;
    left: 1239px;
    position: absolute;
    top: 98px;
    width: 31px;
}

.contact-us .overlap-group {
    background-color: #fafafab2;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #00000033;
    height: 294px;
    left: 108px;
    position: absolute;
    top: 229px;
    width: 1243px;
}

.contact-us .ic-baseline-facebook {
    height: 46px;
    left: 516px;
    position: absolute;
    top: 158px;
    width: 46px;
    background-color: transparent;
}

.contact-us .mdi-instagram {
    height: 46px;
    left: 586px;
    position: absolute;
    top: 158px;
    width: 46px;
    background-color: transparent;
}

.contact-us .mdi-twitter {
    height: 46px;
    left: 656px;
    position: absolute;
    top: 158px;
    width: 46px;
    background-color: transparent;
}

.contact-us .ic-baseline-tiktok {
    height: 46px;
    left: 726px;
    position: absolute;
    top: 158px;
    width: 46px;
    background-color: transparent;
}

.contact-us .text-wrapper-9 {
    color: #000000;
    font-family: "Josefin Sans-Light", Helvetica;
    font-size: 50px;
    font-weight: 300;
    left: 450px;
    letter-spacing: 0;
    line-height: normal;
    background-color: transparent;
    position: absolute;
    top: 87px;
    white-space: nowrap;
    width: 324px;
}

.contact-us .icon-call {
    height: 36px;
    left: 454px;
    position: absolute;
    top: 165px;
    width: 36px;
    background-color: transparent;
}

.contact-us .overlap {
    background-color: #fafafab2;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #00000033;
    height: 88px;
    left: 108px;
    position: absolute;
    top: 714px;
    width: 1243px;
}

.contact-us .text-wrapper-10 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: -60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 768px;
    background-color: transparent;
    
}

.contact-us .div-wrapper {
    background-color: #fafafab2;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #00000033;
    height: 88px;
    left: 108px;
    position: absolute;
    top: 832px;
    width: 1243px;
}

.contact-us .overlap-2 {
    background-color: #fafafab2;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #00000033;
    height: 88px;
    left: 108px;
    position: absolute;
    top: 950px;
    width: 1243px;
}

.contact-us .overlap-3 {
    background-color: #fafafab2;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #00000033;
    height: 88px;
    left: 108px;
    position: absolute;
    top: 1068px;
    width: 1243px;
}

.contact-us .text-wrapper-11 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    /* right: 260px; */
    left: -60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    width: 768px;
    background-color: transparent;
}

.contact-us .text-wrapper-12 {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 336px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 617px;
    white-space: nowrap;
    width: 768px;
}

.contact-us .group {
    height: 91px;
    left: 636px;
    position: absolute;
    top: 64px;
    width: 168px;
}

.contact-us .magnifying-glass {
    height: 27px;
    left: 1183px;
    position: absolute;
    top: 100px;
    width: 27px;
}