.header-2, .norow {
    color: #2c490f;
    font-size: 30px;
    font-weight: 700;
    left: 10;
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    text-align: left;
    margin-left: 125px;
}

#row {
    font-size: 25px;
}

.product-grid {
    /* display: flex; */
    flex-wrap: wrap;
    margin: 15px;
    margin-left: 115px;
    margin-right: 115px;

}

.product-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-card {
    flex-basis: calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
}

.frame-24 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 318px;
    margin: 10px;
}

.frame-25 {
    align-items: flex-start;
    background-color: #fafafa;
    border-radius: 28px;
    display: flex;
    gap: 10px;
    height: 350px;
    padding: 8px;
    position: relative;
    width: 318px;
}

.rectangle-3 {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
    position: relative;
    background-color: transparent;
}

.frame-26 {
    align-items: flex-start;
    background-color: #5d9127;
    border-radius: 24px 0px 24px 0px;
    display: inline-flex;
    gap: 10px;
    left: 8px;
    padding: 12px 16px;
    position: absolute;
    top: 8px;
}

.text-wrapper-19 {
    color: var(--white);
    font-family: var(--rubik-12px-font-family);
    font-size: var(--rubik-12px-font-size);
    font-style: var(--rubik-12px-font-style);
    font-weight: var(--rubik-12px-font-weight);
    letter-spacing: var(--rubik-12px-letter-spacing);
    line-height: var(--rubik-12px-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    background-color: transparent;
}

.frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.text-wrapper-20 {
    color: var(--dark-gray);
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 56px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 318px;
    text-align: left;
}

.button-3 {
    color: #ffffff !important;
    font-family: "Josefin Sans-Medium", Helvetica !important;
    font-size: 20px !important;
    white-space: nowrap !important;
    width: 318px;
    background-color: #5d9127;
    height: 45px;
    border: none;
    border-radius: 10px;
}

:root {
    --copy-button-font-family: "Inter-Medium", Helvetica;
    --copy-button-font-size: 14px;
    --copy-button-font-style: normal;
    --copy-button-font-weight: 500;
    --copy-button-letter-spacing: 0.25px;
    --copy-button-line-height: normal;
    --dark-gray: rgba(35, 35, 33, 1);
    --gray: rgba(231, 231, 227, 1);
    --purewhite: rgba(255, 255, 255, 1);
    --rubik-12px-font-family: "Rubik-SemiBold", Helvetica;
    --rubik-12px-font-size: 12px;
    --rubik-12px-font-style: normal;
    --rubik-12px-font-weight: 600;
    --rubik-12px-letter-spacing: 0px;
    --rubik-12px-line-height: normal;
    --white: rgba(255, 255, 255, 1);
}

.catalog {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.catalog .div {
    background-color: transparent;
    height: 2502px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.catalog .vector {
    height: 610px;
    left: -1882px;
    position: absolute;
    top: 3414px;
    width: 752px;
}

.catalog .overlap {
    height: 1798px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 1920px;
    /* bottom: 1500px; */
}

.catalog .vie-wall-mockup {
    height: 544px;
    left: 0;
    object-fit: cover;
    position: absolute;
    /* bottom: 1500px; */
    width: 1920px;
}

.catalog .rectangle {
    background-color: #ffffffcc;
    border-radius: 30px;
    box-shadow: 5px 7px 4px #00000066;
    height: 398px;
    left: 80px;
    position: absolute;
    top: 70px;
    width: 554px;
    /* bottom: 1500px; */
}

.catalog .group {
    height: 240px;
    left: 159px;
    position: absolute;
    top: 120px;
    width: 399px;
    background-color: transparent;
}

span{
    text-align: left;
}

.catalog .GET-OFF-YOUR {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 395px;
    background-color: transparent;
}

.catalog .span {
    color: #000000;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    background-color: transparent;
}

.catalog .text-wrapper-2 {
    font-family: "Josefin Sans-BoldItalic", Helvetica;
    font-style: italic;
    font-weight: 700;
    left: 0;
    background-color: transparent;
}

/* .catalog .text-wrapper-3 {
    font-size: 25px;
    background-color: transparent;
    text-align: right;
} */

.catalog .text-wrapper-4 {
    font-size: 23px;
    background-color: transparent;
    text-align: left;
    padding-top: 15px;

}

.catalog .overlap-group {
    background-color: #5d9127;
    border-radius: 10px;
    height: 45px;
    left: 0;
    position: absolute;
    top: 220px;
    width: 299px;
    
}

.catalog .text-wrapper-5 {
    color: #e2edc2;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 126px;
    background-color: transparent;
}

.buttonSpan{
    position: relative;
    display: inline-block;
    top: 220px;
    width: 250px;
    left: -20%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #5d9127;
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
}