.container {
    text-align: center;
    margin-top: 150px;
}

.header {
    color: #2c490f;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 70px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    top: 0;
}

.text {
    color: #314e14;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 200;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}
button{
    background-color: #2c490f;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    width: 300px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;

}
.footer{
    position: absolute;
    left: 150px;
    bottom: 15px;
}
/* Media Query for Mobile Devices */ 
@media (max-width: 767px) { 
    .text{
        width: 345px;
        font-size: 30px;
        margin-left:55px;
        text-align: center;
    }
    button{
    margin-right: 25px;
    }
    .footer{
        align-items: center;
        margin-left:-50%;
    }
    .header{
        /* margin-left: -30px; */
    }
} 

  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
   
} 
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
   
} 