.star-rating {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    margin-bottom: 350px;
  }
  
  .star-icon {
    color: gold;
    font-size: 24px;
    background-color: transparent;
    margin: 2px;
  }

 